*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.produção

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.frota
/.ideia
/.nova
/.vscode
/.zed

/auth.json
/node_modules
/vendor

/público/construir
/público/quente
/público/armazenamento
público/mix-manifest.json

/storage/*.key
/storage/pail
storage/logs/
storage/framework
/ storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

bootstrap/cache/

Homestead.json
Homestead.yaml
