# Logs e comuns
*.log
.DS_Store
Thumbs.db

# Env 
.env
.env.backup
.env.producao
.env.produção
.env.testing.local

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# IDE/editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.frota
/.ideia

# Vendors/build
/node_modules
/vendor

# Public build e links
/public/build
/public/hot
/public/storage
/public/mix-manifest.json

# Storage
/storage/*
!/storage/.gitignore
!/storage/app/
!/storage/app/.gitignore
!/storage/app/public/
!/storage/app/public/.gitignore
!/storage/framework/
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
!/storage/logs/
!/storage/logs/.gitignore
!/storage/*.gitignore

# Bootstrap cache: ignorar conteúdo, mas manter pasta
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Homestead
Homestead.json
Homestead.yaml